.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #cce9fb;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.section-wrepper{
  min-width: 400px;
  display: flex;
  justify-content: space-evenly;
}

.name-wrapper{
  display: flex;
  align-items: center;
}

.toolbar{
  display: flex;
  justify-content: space-between;
}

.section:hover{
  text-decoration: underline;
  cursor: pointer;
}

.sections{
  color: rgb(21, 21, 83);
  padding: 30px;
  border: 1px solid  rgb(21, 21, 83) ;
  margin: 10px;

}

.content{
  text-align: justify;
}

